*.iml
.idea
/gradle
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/captures
/.idea/misc.xml
*.apk
*.aab
*.bat
gradlew
/gradle/wrapper/gradle-wrapper.properties
